body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(to bottom right, #2a45df, #cf22aa);
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: rgba(255, 255, 255, 0.15); /* semi-transparent */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    padding: 28px 36px;
    width: 100%;
    max-width: 360px;

    border: 3px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    text-align: center;
}

canvas {
    width: 100%;
    height: 160px !important;
    max-height: 160px;
    margin-top: 16px;
}


h1 {
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.time {
    font-size: 0.85rem;
    color: #333;
    margin-bottom: 24px;
}

.reading {
    margin-bottom: 16px;
}

.value {
    font-size: 2.5rem;
    font-weight: 600;
}

.unit {
    font-size: 1rem;
    color: #333;
}

.label {
    font-size: 0.9rem;
    color: #333;
    margin-top: 4px;
}

.footer {
    margin-top: 16px;
    font-size: 0.75rem;
    color: #b1b1b16e;
}
